<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my" >

    <application
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_launcher"
        android:icon="@mipmap/app_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity android:name=".MyActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
