<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <application
        android:name="com.example.comm.app.BaseApplication"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:icon="@mipmap/app_launcher">
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest>